
#hero{
    font-family: "Inter", sans-serif;
    width: 592px;
    height: 579px;
    text-align: center;
    margin: 0px auto 57px ;
}


h1{
    margin: 72px auto 32px;
    font-size: 49px;
    font-weight: 400
}
h1 span{
    font-weight: 700;
    color:#FF9900;   
}
p{
    font-size: 14px;
    color: #7D7987;
    margin: 0px;
    line-height: 28px;
}
span{
    color: #FF9900;
}

.footerline{
    border: solid 1px;
    color:#ECEFF2;
    width: 568px;
    height: 0px;
    margin:0px auto 8px ;

}

footer{
    width: 592px;
    height: 36px;
    margin: auto;
    text-align: center;


    
}
footer a{
    color: #FF9900;
    margin-left: 28px;

    


}


img.balls{
    position: fixed;
    bottom: 0px;
    right: 0px;
}

